/* блок cards */
/*
 * ...
 * сетка
 * сетка-шаблон-столбцы
 * промежуток между столбцами
 */
 .cards {
    margin: 0 auto;
    padding: 0;
    width: 920px;
    text-align: center;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 240px);
    column-gap: 100px;
}