/* элемент link */
/* 
 * синий цвет (ссылки, фигуры)
 * убрать подчеркивание
 * непрозрачность
 * плавный переход длительностью 2 сек 
 */
.link {
    color: #2f80ed;
    text-decoration: none;
    opacity: 1;
    transition: opacity 2s linear;
}

/*  при наведении мыши ссылки плавно становятся немного прозрачными */
.link:hover {
    opacity: 0.6;
}